.contact-section {
  min-height: 100vh;
  background-color: var(--background-card);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 1.5rem;

  .container {
    max-width: 1152px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 4rem;
    color: var(--neutral-900);
    font-family: var(--font-family-1);
  }

  &__content {
    display: grid;
    gap: 3rem;

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.contact-form {
  background-color: var(--color-background-light);
  border-radius: 12px;
  box-shadow: var(--color-tech);
  padding: 24px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: var(--color-tech);
    cursor: pointer;
  }

  label {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--neutral-900);
    margin-bottom: 8px;
  }

  .p-button-custom {
    background-color: var(--color-background-dark);
    font-family: var(--font-family-1);
  }

  .p-inputtext:enabled:focus {
    border-color: var(--color-tech);
    box-shadow: 0 0 0 0.2rem #8795ef;
  }

  .p-inputtext:enabled:hover {
    border-color: var(--color-tech);
    box-shadow: 0 0 0 0.2rem #8795ef;
  }
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-background-dark);
    margin-bottom: 1.5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--color-background-light);
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(---neutral-400) !important;
    transition: background-color 0.3s ease;
    border: 1px solid var(--neutral-500);

    &:hover {
      background-color: var(--color-tech-light);
    }
  }

  &__icon-wrapper {
    width: 3rem;
    height: 3rem;
    background-color: rgba(var(--color-tech), 0.1);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;

    .contact-info__item:hover & {
      background-color: rgba(var(--color-tech), 0.2);
    }
  }

  &__icon {
    font-size: 1.5rem;
    color: var(--color-tech);
  }

  &__label {
    font-size: 0.875rem;
    color: var(--neutral-500);
  }

  &__value {
    font-weight: 500;
    color: var(--neutral-400);
  }
}

.social-links {
  display: flex;
  gap: 1rem;

  &__item {
    width: 3rem;
    height: 3rem;
    background-color: var(--color-background-dark);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 1.5rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-tech);
      color: var(--color-background-dark);
      transform: scale(1.1);
    }
  }
}

.call-to-action {
  background-color: var(--background-card);
  padding: 1.5rem;
  border-radius: 0.5rem;

  &__title {
    color: var(--color-tech);
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__text {
    color: var(--neutral-500);
    font-size: 0.875rem;
  }
}
