:root {
    // Tema light
    --color-background-light: #f5f5f5;
    --font-family-1: "DM Sans", sans-serif;

    // Tema dark
    --font-family-1: 'DM Sans', sans-serif;

    --color-background-dark: #1c1f20;
    --neutral-50: #f8f9fa;
    --neutral-200: #e9ecef;
    --neutral-300: #dee2e6;
    --neutral-400: #707070;
    --neutral-500:  #b0bec5;
    --neutral-600: #6c757d;
    --neutral-700: #495057;
    --neutral-900: #212529;
    --color-tech: #455ce9;
    --color-tech-light: #4578e924;
    --white: #ffffff;
    --background-card: #f5f5f5;
}
