:root {
    // Tema light
    --color-background-light: #f5f5f5;

    // Tema dark
    --color-background-dark: #1c1f20;
    --neutral-50: #f8f9fa;
    --neutral-200: #e9ecef;
    --neutral-300: #dee2e6;
    --neutral-600: #6c757d;
    --neutral-700: #495057;
    --neutral-900: #212529;
    --white: #ffffff;
    --color-tech:#455ce9;
    
}

